* {
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, #fbecec, #91d18b, #e11d74, #440047);
  background-size: 300% 300%;
  animation: colors 8s ease infinite;
}

.titulo {
  background-color: none;
  color: white;
  box-shadow: 0 0 5px 0 white;
  position: relative;
  cursor: pointer
}

.titulo:after,
.titulo:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.6s ease-in-out;
}

.titulo:before {
  border-left: 3px solid aqua;
  border-right: 3px solid aqua;
  transform: scaleY(0);
}

.titulo:after{
  border-top: 3px solid aqua;
  border-bottom: 3px solid aqua;
  transform: scaleY(0);
   
}

.titulo:hover:before {
    transform: scaleY(1);
}

.titulo:hover:after {
    transform: scaleY(1);
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}